<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Node Simple API</title>
        <script src="https://kit.fontawesome.com/36de4adad1.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <main>
            <section>
                <%- include('partials/form.add.post.ejs') %>
            </section>
            <section>
                <%- include('partials/list.post.ejs') %>
            </section>
        </main>
    </body>
</html>